<ion-header>
  <ion-navbar color="primaryColor">
    <ion-title>Timetable</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <pdf-viewer [src]="pdfSrc" [show-all]="true" [original-size]="false" style="display: block;"></pdf-viewer>
</ion-content>