<ion-header>

    <ion-navbar color="primaryColor">
        <ion-title>Monthly Report</ion-title>
    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-card>
        <ion-card-content>
            <canvas #barCanvas></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>